.vscode/

# Build files
*.o

# Program names
megaphone
phonebook
brainz
horde
str
weapon
replace
harl
fixed00
fixed01
fixed02
claptrap
scavtrap
fragtrap
diamondtrap
animal
brain
abstract
bureaucrat
form
forms
intern
convert
serialize
identify
templates
iter
array
easyfind
span
mutantstack
btc
RPN
PmergeMe

# Output files
home_shrubbery
office_shrubbery
garden_shrubbery